@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

.contactus{
    display: flex;
    width: 1000px;
    margin: 100px 300px 50px;
    gap: 150px;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.contactinfo h3{
    margin-bottom: 50px;
    font-family: "ArchyEDT-Bold", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.iconimg{
    width: 30px;
}
.info{
    display: flex;
    gap: 10px;
}
.info p {
    width: 250px
}
.infofb a img{
    margin-top: 35px;
    width: 50px;
}
.infofb{
    margin-left: 20px;
}