@import url("//cdn.web-fonts.ge/fonts/bpg-extrasquare-mtavruli/css/bpg-extrasquare-mtavruli.min.css");


.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.program img{
    width: 65%;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}

.program h3{
    font-size: 30px;
    margin-top: 30px;
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    text-align: center;
}

.program{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 320px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
}

.program:hover{
    width: 350px;
    height: 420px;
}

.program3 h3{
    margin-top: 14px;
}
.program3 img{
    margin-top: 5px;
}

.cardbtn{
    background: #33cccc;
    color:  white;
    padding: 10px 30px;
    font-size: 16px;
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 15px; 
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10px;
    margin: 70px auto;
}
.title h3{
    font-size: 25px;
    color: #33cccc;
}
.title h2{
    font-size: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-back{
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 420px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}

.smallimg {
    max-width: 60px;
    opacity: 0.5;
}
.smalljudo{
    position: absolute;
    bottom: 250px;
    right: 20px;
    max-width: 100px;
    transform: rotate(350deg);
}
.smallfight{
    position: absolute;
    bottom: 175px;
    right: 120px;
    max-width: 60px;
}
.smallchess{
    position: absolute;
    bottom: 100px;
    right: 10px;
    max-width: 100px;
    transform: rotate(10deg);
}
.smallping{
    position: absolute;
    bottom: 360px;
    right: 270px;
    max-width: 60px;
}
.smalldance{
    position: absolute;
    bottom: 250px;
    right: 20px;
    max-width: 100px;
}
.smallsculpt{
    position: absolute;
    bottom: 60px;
    right: 150px;
    max-width: 150px;
}
.smallpaint{
    position: absolute;
    bottom: 60px;
    margin-left: 280px;
}
.smallruli{
    position: absolute;
    bottom: 340px;
    right: 280px;
    max-width: 60px;
}
.smallmilc{
    position: absolute;
    bottom: 40px;
    right: 250px;
    max-width: 60px;
}
.smallprava{
    position: absolute;
    bottom: 60px;
    right: -20px;
    max-width: 200px;
    opacity: 0.3;
}
.smallhands{
    position: absolute;
    max-width: 150px;
    opacity: 0.5;
    bottom:70px;
}
.card-back ul li h2{
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
}
.card-back h3{
    color: #33cccc;
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.card-back ul{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.closebtn{
    background-color: #33cccc;
    padding: 8px 30px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.closebtn2{
    margin-top: 75px;
}
.card3 h3{
    max-width: 200px;
}
.card3-back ul li h2 {
    font-size: 20px;
}
.closebtn3{
    margin-top: 64px;
}
.closebtn4{
    margin-top: 157px;
}


